= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg

  .input-field.col.s6
    = f.text_field :name, class: "txt_fields validate"
    %label{ for:  "team_name"} 
      Team Name
  .actions
    = f.submit 'Save', class: "waves-effect waves-light btn"
