.row
  .col.s12
    %h3
      = header(@switch,params)
    - if @team_players.count == 0
      %h4
        No Entries in this category
    - @team_players.each do |tp|
      %ul.collapsible.popout{ "data-collapsible" => "accordion"}
        %li
          .collapsible-header
            %i.material-icons
            = tp.full_name
          .collapsible-body
            %a.dropdown-button.btn.width_fix{ href: '#', 'data-activates' => "dropdown#{tp.id}"}
              More..
            %ul.dropdown-content{id: "dropdown#{tp.id}"}
              %li.pink
                %a{href: "#{edit_player_path(tp)}"}
                  Edit
              %li
                Bowling Type :
                %a{href: "#{team_path(@team)}?bowling_type=#{tp.bowling_type}"}
                  = tp.bowling_type
              %li
                Batting Hand :
                %a{href: "#{team_path(@team)}?batting_hand=#{tp.batting_hand}"}
                  = tp.batting_hand
              %li
                Bowling Hand :
                %a{href: "#{team_path(@team)}?bowling_hand=#{tp.bowling_hand}"}
                  = tp.bowling_hand
              %li
                %a{href: tp.keeper ? "#{team_path(@team)}?keeper=true" : "#{team_path(@team)}?keeper=false"}
                  = tp.keeper ? "Keeper" : "Not a Keeper"


= link_to 'Back', players_path, class: 'btn'


:javascript
  $(function(){
    $('.collapsible').collapsible();
    $('.dropdown-button').dropdown()
  });
