= simple_form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.input :bowling_type, collection: Player::BOWLING_TYPES

  .field
    = f.input :batting_hand, collection: Player::BATTING_HAND

  .field
    = f.input :bowling_hand, collection: Player::BOWLING_TYPE

  .field
    = f.input :keeper, collection: [["Yes",1],["No", 0]]
  %br
  %br
  %br
  .field
    = f.label "Teams"
    %a.tooltipped{"data-position" => "bottom", "data-delay" => "50", "data-tooltip" => "The teams name should be comma seperated ex: Pakistan, Srilanka, India"}
      Need Help ?
    = f.text_area :teams
  .actions
    = f.submit 'Save', class: 'btn'
    %br
    %br
