%h1 Listing players

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Bowling type
      %th Batting hand
      %th Bowling hand
      %th Keeper
      %th Teams
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.first_name
        %td= player.last_name
        %td= player.bowling_type
        %td= player.batting_hand
        %td= player.bowling_hand
        %td= player.keeper
        %td= player.teams
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
